* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
}
.navbar__logo {
  margin-left: 5%;
}
.navbar__logo img {
  padding: 10px;
  width: 200px;
  height: 40px;
}
.navbar__logitos {
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.navbar__logitos--box {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  border-right: 1px solid rgb(103, 181, 0);
}
.navbar__logitos--box img {
  width: 10px;
  height: 10px;
  padding-right: 5px;
}
.navbar__logitos--box a {
  color: rgb(103, 181, 0);
  font-size: 14px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu__box1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(103, 181, 0);
  justify-content: center;
}
.menu__box1 a {
  color: black;
  font-size: 15px;
}
.menu__box1 button {
  border-color: rgb(103, 181, 0);
}
.menu__box2--lista {
  display: flex;
  flex-direction: row;
}
.menu__box2--lista li {
  font-size: 17px;
  padding: 10px;
}
.menu__box2--lista a {
  color: black;
}

.m {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
}
.m__galery {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
}
.m__galery--tarjeta {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  margin: 1%;
  background-color: white;
}
.m__galery--tarjeta--1 {
  display: flex;
  flex-direction: column;
}
.m__galery--tarjeta--2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10%;
  padding-left: 10px;
  padding-right: 10px;
}
.m__galery--tarjeta--2 button {
  background-color: white;
  color: rgb(103, 181, 0);
  border: 2px solid rgb(103, 181, 0);
  padding: 10px;
}
.m__galery--tarjeta--2 h3 {
  font-size: 35px;
  color: rgb(103, 181, 0);
}
.m__galery--tarjeta img {
  width: 400px;
  height: 200px;
}
.m__galery--tarjeta h2 {
  font-size: 20px;
  padding: 5px;
}
.m__galery--tarjeta p {
  font-size: 10px;
  padding: 5px;
  color: grey;
}
.m__texto {
  margin-top: 2%;
  width: 70%;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
}
.m__texto h4 {
  font-size: 20px;
  padding: 10px;
}
.m__texto p {
  color: grey;
  padding: 10px;
}
.m__iconitos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
}
.m__iconitos ul {
  display: flex;
}
.m__iconitos ul img {
  width: 80px;
  height: 80px;
  padding: 20px;
}
.m__anuncios {
  display: flex;
  flex-wrap: wrap;
}
.m__anuncios--1 {
  padding: 10px;
}
.m__anuncios--1 img {
  width: 300px;
  height: 190px;
}

.fondito {
  width: 1000px;
  height: 60px;
  border: 2px solid green;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
.fondito__barra {
  font-size: 60px;
  height: 100%;
  background: rgb(103, 181, 0);
  -webkit-animation: progreso 5s linear infinite;
          animation: progreso 5s linear infinite;
}

@-webkit-keyframes progreso {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes progreso {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */