.m{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);

    &__galery{
        justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(247, 247, 247);

        &--tarjeta{
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 350px;
            margin: 1%;
            background-color: white;

            &--1{
                display: flex;
                flex-direction: column;
            }

            &--2{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 10%;
                padding-left: 10px;
                padding-right: 10px;

                button{
                    background-color: white;
                    color: rgb(103, 181, 0);
                    border: 1px solid rgb(103, 181, 0);
                    padding: 10px;
                }

                h3{
                    font-size: 35px;
                    color: rgb(103, 181, 0);
                }
            }

            img{
                width: 400px;
                height: 200px;
            }
            h2{
                font-size: 20px;
                padding: 5px;
            }
            p{
                font-size: 10px;
                padding: 5px;
                color: grey;
            }
        }
    }

    &__texto{
        margin-top: 2%;
        width: 70%;
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;

        h4{
            font-size: 20px;
            padding: 10px;
        }
        p{
            color: grey;
            padding: 10px;
        }
    }

    &__iconitos{
        display: flex;
        margin-top: 6%;

        ul{
            display: flex;

            img{
            width: 80px;
            height: 80px;
            padding: 20px;
            }
        }
    }
    &__anuncios{
        display: flex;


        &--1{
            padding: 20px;
        }

    }
}